.container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-inline:auto;
    max-width: 1135px;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    align-items: center;
}
.header{
    font-weight: 700;
    font-size: 25px;

}



.cart {
  display: flex;
  max-width: 120px;
  width: 100%;
}

.wrapper{
    height:60px ;
    width:62px ;
    display: flex;
    align-items: center;
}